[credential]
	helper = cache
[user]
	email = vasily.sotnikov@physik.uni-freiburg.de
	name = Vasily Sotnikov
[diff]
        tool=meld
[merge]
        tool=meld
[difftool]
        prompt = false
        trustExitCode = true
[alias]
	co = checkout
        ca = commit --amend
        cA = commit --amend --no-edit
	st = status
	ci = commit
	br = branch
	unstage = reset HEAD --
        diffnsp = diff -U0 -w
	last = log -1 HEAD
	dt = difftool
        lg = log --graph --pretty=format:'%Cred%h%Creset %C(auto)%d%Creset | %C(normal)%ad%Creset | %C(dim)<%an>%Creset %n %<(120,trunc)%s %n' --date=format:'%d.%m.%Y %H:%M:%S' --decorate
        tree = log --graph --all --pretty=format:'%Cred%h%Creset %C(auto)%d%Creset | %C(normal)%ad%Creset | %C(dim)<%an>%Creset %n %<(120,trunc)%s %n' --date=format:'%d.%m.%Y %H:%M:%S'
        radd = "!f() { git ls-files -m "$GIT_PREFIX$1" | xargs git add; }; f"
        rco = "!f() { git ls-files -m "$GIT_PREFIX$1" | xargs git co; }; f"
        wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
        update = fetch --all --prune --tags
        restash = !git stash pop && git stash
[push]
	default = simple
[core]
	editor = vim -c 'set spell'
[gui]
	displayuntracked = false
