snippet ifdef "ifdef" bA
#ifdef $1 
$2
#endif // $1
$0
endsnippet

snippet namespace "namespace" bA
namespace $1 {
    $0
} // $1
endsnippet

snippet for "for i" b
for (size_t $1 = $2; $1 < $3; ++i) {
    $0
}
endsnippet
